:root {
  --primary:#31405f;
  --secondary:#87a76e;
  --dark:#131a26;
  --light:#eeeeff;
  --grey:#888888;

  --font: sans-serif;
  --font-quote:monoscape;
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: var(--font);
}

body{
  background-color: var(--light);
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jokes{
  position: relative;
}

.topic{
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: var(--dark);
  border-radius: 1.5rem;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 1px;
  max-width: 380px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--secondary);
  font-weight: 400;
  transform: translate(-25% 50%);
  position: absolute;
  margin-top: 80px;

}

blockquote{
  font-family: var(--font-quote);
  max-width: 720px;
  font-size: 1rem;
  border:1px #130101;
  background-color: var(--dark);
  padding: 3rem;
  border-radius: 1.5rem;
  color: #fff;
  /* padding: auto;
  position: absolute; */
  margin-top: 100px;
}

button{
  appearance: none;
  border: none;
  outline: none;
  background-color: var(--primary);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  margin-top: 64px;
  margin-bottom: 64px;
  transition: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary);
}

